.mm-personal-shopper {
    .lacoste {
        font-family: "metropolis", Arial, Helvetica, sans-serif;
    }

    .lacosteBold {
        font-family: "metropolis", Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .lacosteLight {
        font-family: "metropolis", Arial, Helvetica, sans-serif;
        font-weight: 300;
    }

    .lacosteCdBold {
        font-family: "metropolis", Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .lacosteCdLight {
        font-family: "metropolis", Arial, Helvetica, sans-serif;
        font-weight: 300;
    }
}
