// Global Styles
.mm-personal-shopper {
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFF;

    h1,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0;
    }

    *:focus {
        outline: 0;
    }
}

.mm-personal-shopper .cookies-banner {
    position: relative;
    background-color: $gray-lighter;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.75rem 2rem;

    .btn {
        padding: 0;
        font-size: 1.25rem;
        font-weight: 400;
        font-family: sans-serif;
        line-height: 1;
        vertical-align: baseline;
    }
    .close-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.mm-personal-shopper .modal-content {
    position: relative;

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
    }
    .footer-iframe {
        .embed-responsive {
            padding-bottom: 75.25%;
        }
        .header-iframe-min {
            padding: 2rem;
            margin-bottom: 0;
        }
    }

    .modal-header {
        padding: 2rem 0;

        i {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        h3 {
            margin: 0;
        }
        hr {
            width: 5rem;
        }
    }
}

.mm-personal-shopper .mm-site-footer {
    padding: 2rem 0;
}
