<div class="saved-looks" ng-if="$ctrl.allLookSaved.length > 0" ng-repeat="look in $ctrl.allLookSaved track by $index" ng-class="{'current': look.uniqueId == $root.currentSavedLookId}"> <!-- class 'current' si current look -> vert -->
    <div class="mm-btn-delete" ng-click="$ctrl.deleteLook($index)">
        <?xml version='1.0' encoding='iso-8859-1'?>
        <svg version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9">
            <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"/>
        </svg>
    </div>
    <div class="title" ng-click="$ctrl.loadLook()">
        Look 0{{$index + 1}}
    </div>

    <div ng-click="$ctrl.loadLook($index)" ng-if="!look.full" class="saved-look saved-look-1">
        <img 
            ng-src="https:{{look.top.images.details}}"
        />
    </div>
    <div ng-click="$ctrl.loadLook($index)" ng-if="!look.full" class="saved-look saved-look-2">
      <img 
      ng-src="https:{{look.bottom.photo}}"
      />
    </div>
    <!-- DRESSSES FULL -->
    <div ng-click="$ctrl.loadLook($index)" ng-if="look.full" class="saved-look saved-look-1">
        <img 
            ng-src="https:{{look.big.images.details}}"
        />
    </div>
    <div ng-click="$ctrl.loadLook($index)" ng-if="look.full" class="saved-look saved-look-2">
      <img 
      ng-src="https:{{look.full.photo}}"
      />
    </div>
    <!-- SHOES -->
    <div ng-click="$ctrl.loadLook($index)" class="saved-look saved-look-3">
      <img 
      ng-src="https:{{look.shoes.photo}}"
      />
    </div>
  </div>