.saved-looks {
    position: relative;
    margin-top: 35px;
    height: 90px;

    .title {
        font-weight: bold;
        color: #285f41;
        margin-left: 0.5em;
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms ease-out;
        transform: translateY(-100%);
    }
    .mm-btn-delete {
        position: absolute;
        top: 37.5px;
        right: 0;
        transform: translateY(-50%);
        width: 15px;
        cursor: pointer;
    }
    .saved-look {
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: #e5e5e5;
        border: 1px solid transparent;
        transition: border-color 300ms ease-out;

        img {
            cursor: pointer;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        &-1 {
            top: 0;
            left: 0;
            z-index: 5;
        }
        &-2 {
            left: 52px;
            top: 25px;
            z-index: 4;
        }
        &-3 {
            left: 110px;
            top: 0;
            z-index: 3;
        }
    }

    &.current {

        .saved-look {
            border-color: #285f41;
        }
        .title {
            opacity: 1;
            pointer-events: inherit;
        }
    }
}