<div class="modal-body text-center" stop-event="touchend">
  <a ng-click="$close()" ng-show="modal.activeModal.closeBtn" class="btn btn-link pull-right close-btn">
    <i class="fa fa-times"></i>
  </a>

  <h1>Politique d’utilisation des données</h1>

  <p>Conformément aux Conditions Générales d’utilisation de Facebook, dont notamment la Déclaration des Droits et Responsabilités, et conformément à la loi n° 78-17 dite "Loi Informatique et Libertés" du 6 janvier 1978 modifiée, les utilisateurs de Facebook fournissent, avec leur accord, les informations personnelles les concernant à l’exploitant de l’application Facebook, {{modal.client}}, en sa qualité de responsable de traitement de données. Les informations que nous collectons sont nécessaires à l’exploitation de notre application Facebook et à la gestion de votre participation à notre opération commerciale. Sous réserve de votre consentement explicite ou, selon les cas, à défaut d’opposition de votre part, les informations collectées nous permettront aussi de vous informer de nos produits et services susceptibles de vous intéresser. En cliquant sur la "demande de permission", vous avez accepté que Facebook nous transmette les données de base de votre profil Facebook, conformément au paramétrage de votre compte utilisateur Facebook, afin de faciliter votre inscription. Ces données varient donc en fonction de votre paramétrage et ne peuvent contenir que les informations précisées dans la "demande de permission". Si vous avez déjà installé l’application Facebook, vous pouvez retrouver cette liste en <a href="https://www.facebook.com/settings?tab=applications" target="_blank">cliquant ici</a>. Les informations saisies manuellement sont exclusivement collectées par nous et ne sont pas transmises à Facebook.</p>

  <p>Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant, auprès du responsable du Traitement de données, en <a ng-href="mailto:{{modal.contact}}">cliquant ici</a>.</p>
</div>
