<div class="container mm-site-footer text-center">
  <a ng-click="$ctrl.openModal('terms')" class="btn mm-btn-link">Règlement</a> •
  <a ng-href="mailto:{{$ctrl.contact}}?subject={{$ctrl.subject}}" class="btn btn-link">Nous contacter</a> •
  <a ng-click="$ctrl.openModal('chartefb')" class="btn mm-btn-link">Charte de confidentialité</a> •
  <br>

  <small>Les informations vous concernant sont destinées aux sociétés XXXXX, incluant la société organisatrice de cette opération, afin de traiter votre participation à celle-ci et, sous réserve de vos choix, de vous informer des offres privilégiées des sociétés XXXX. Conformément à la loi française « Informatique et Libertés » n°78-17 du 6 janvier 1978, vous pouvez demander à accéder aux informations qui vous concernent, pour les faire rectifier, modifier, ou supprimer, ou pour vous opposer à leur traitement par XXXX en écrivant aux coordonnées précisées dans <a href="#" ng-click="$ctrl.openModal('terms')">le règlement de l’opération</a>.</small>
</div>
