<div class="modal-body text-center" stop-event="touchend">
  <a ng-click="$close()" ng-show="modal.activeModal.closeBtn" class="btn mm-btn-link pull-right close-btn">
    <i class="fa fa-times"></i>
  </a>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in arcu quis ex rhoncus
  scelerisque non quis nulla. Sed pharetra lacinia interdum. Nullam maximus augue quis purus
  pretium commodo. In aliquet, sem at bibendum volutpat, mauris odio hendrerit justo, in rutrum
  lectus diam sed libero. Vivamus feugiat finibus molestie. Cras eget urna aliquam, varius arcu et,
  efficitur lacus. Morbi in blandit velit. Curabitur ac tellus egestas, tincidunt ipsum fringilla,
  convallis neque. Aliquam ultricies lacus sit amet orci porttitor, sed dictum libero cursus.
  Ut commodo nisi erat, et commodo est imperdiet non. Nunc sed porta purus, eget elementum orci.
  <br><br>
  Pellentesque tincidunt pharetra erat sit amet placerat. Integer sagittis metus suscipit
  leo posuere feugiat. Pellentesque quis bibendum arcu. Mauris sed feugiat massa. Integer
  placerat, risus in consequat congue, odio mauris luctus nulla, eget dignissim ex lectus
  sed libero. Mauris nec pretium neque, a imperdiet lacus. Sed ullamcorper tellus nec orci
  euismod tristique. Curabitur sit amet felis mattis, iaculis eros nec, tristique urna.
  Proin vitae aliquam ante.
</div>
