// A: Bloc Side Animated
// B: Bloc Up Static
// C: Line Up Animated
// D: Line Side Animated
// E: Bloc Up Animated

$form-type: "A" !default;

$form-control-padding-left: 10rem;

@if $form-type == "A" {
    $input-bg: $gray-lighter;
}
@if $form-type == "B" {
    $input-bg: $gray-lighter;
}
@if $form-type == "E" {
    $input-bg: white;
}

@import "inputs/inputs-a";
@import "inputs/inputs-b";
@import "inputs/inputs-c";
@import "inputs/inputs-d";
@import "inputs/inputs-e";

@import "inputs/radios";
@import "inputs/checkboxes";
@import "inputs/selects";
