<div class="container mm-container-result">
  <div class="row">
    <div class="col-md-4 mm-menu-all-filters">
      <mm-menu></mm-menu>
      <!-- BNT PREVIOUS PAGE -->
      <button ng-if="!$ctrl.hasResult" ng-click="$ctrl.back()" class="btn mm-btn-custom btn-block mm-btn-previous hidden-xs hidden-sm">
        <img ng-src="{{$ctrl.objImages.caretleft}}" />
        <span>{{'qualif.btnPrevious' | translate}}</span>
      </button>
    </div>
    <div class="col-md-18 col-md-offset-1">
      <button ng-if="!$ctrl.hasResult" ng-click="$ctrl.back()" class="btn mm-btn-custom btn-block mm-btn-previous-min hidden-md hidden-lg">
        <img ng-src="{{$ctrl.objImages.caretleft}}" />
      </button>
      <div ng-if="$ctrl.hasResult">

        <template-a 
          config="$ctrl.products"
          ng-if="$ctrl.isTemplateA"
        ></template-a>
        <template-b
          config="$ctrl.products"
          ng-if="!$ctrl.isTemplateA"
        ></template-b>

        <div class="mm-editorial-part text-center" ng-show="$ctrl.edito">
          <div class="mm-title-box">
            <p class="mm-title f60 lacosteCdBold text-uppercase" ng-bind-html="$ctrl.edito.title"></p>
          </div>
          <div class="mm-edito-box">
            <p class="mm-edito-txt f25 lacosteCdBold" ng-bind-html="$ctrl.edito.description"></p>
            <div class="mm-bg-edito"></div>
            <div class="mm-full-look-box"></div>
          </div>
        </div>
      </div>

      <div ng-if="!$ctrl.hasResult" class="text-center mm-no-result-box">
        
        <img ng-src="{{$ctrl.objImages.picture404}}" alt="">
        <p class="f60 lacosteCdBold" ng-bind-html="'resultat.sorry' | translate"></p>

      </div>
      
    </div>
  </div>
</div>
