.mm-container-result {
    position: relative;

    .mm-menu-all-filters {
        margin-top: 20px;

        @media screen and (min-width: $screen-md) {
            margin-top: 40px;
        }
    }

    .mm-btn-previous {
        margin-top: 10px;
        width: 104px;
        border: 1px solid #292929;
    }

    .mm-btn-previous-min {
        margin-top: 23px;

        color: #292929;
        border: 1px solid #292929;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        width: 37px;
        height: 37px;
        background-color: transparent;
        font-size: 1.4em;
        line-height: 1.2em;
        margin-left: 20px;
    }

    .mm-editorial-part {
        position: relative;

        .mm-title-box {
            font-size: 0.5em;

            @media screen and (min-width: $screen-md) {
                font-size: 1em;
            }
        }

        .mm-title {
            width: 74%;
            max-width: 714px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.2em;
        }

        .mm-edito-box {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;

            @media screen and (min-width: $screen-md) {
                width: 82%;
                max-width: 980px;
                margin-left: 126px;
                margin-right: inherit;
                margin-top: 45px;
            }

            .mm-bg-edito {
                position: absolute;
                width: 250px;
                height: 250px;
                top: 82px;
                left: 116px;
                z-index: 1;

                @media screen and (min-width: $screen-md) {
                    width: 376px;
                    height: 376px;
                    left: inherit;
                    top: 0;
                    right: 0;
                }
            }

            .mm-full-look-box {
                position: absolute;
                width: 262px;
                height: 262px;
                top: 111px;
                left: 29px;
                background-color: #fff;

                text-align: center;
                z-index: 2;

                @media screen and (min-width: $screen-md) {
                    width: 588px;
                    height: 588px;
                    top: 42px;
                    right: 42px;
                    left: inherit;
                }

                img {
                    width: 100%;
                }
            }

            .mm-edito-txt {
                position: relative;
                display: block;
                width: 294px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                z-index: 3;

                br {
                    display: none;
                }

                @media screen and (min-width: $screen-md) {
                    position: absolute;
                    width: 294px;
                    left: 126px;
                    top: 390px;
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    text-align: right;

                    br {
                        display: inline;
                    }
                }
            }
        }
    }

    .mm-no-result-box {
        position: relative;
        padding-top: 180px;

        > p {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 50%;
            line-height: 1.2em;
        }

        img {
            width: 100%;
            max-width: 378px;
        }
    }
}
