.mm-container-home {
    position: relative;
    padding-top: 60px;
    padding-bottom: 65px;
    min-height: 640px;

    // .col{
    //   border: 1px solid #0F0;
    //   height: 100vh;
    // }

    .mm-content-home {
        padding-top: 60px;
        text-align: center;
        min-height: 640px;

        @media screen and (min-width: $screen-md) {
            padding-top: 160px;
        }
    }

    .mm-dropdown-choice {
        i {
            vertical-align: middle;
        }
    }

    .mm-search-pannel {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 0.55em;

        @media screen and (min-width: $screen-md) {
            text-align: left;
            font-size: 1em;
        }
    }

    .mm-choice-link {
        display: block;
        height: auto;
        cursor: pointer;
        @media screen and (min-width: $screen-sm) {
            min-height: 40px;
        }
        @media screen and (min-width: $screen-md) {
            min-height: 65px;
        }
    }

    .mm-next-box{
        @media screen and (min-width: $screen-md) and (min-height: 530px) {
            position: absolute;
            margin: auto;
            left: 0; right: 0;
            bottom: 10%;
        }
    }

    .mm-btn-next {
        width: 90%;
        max-width: 215px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 127px;
        margin-bottom: 10px;

        @media screen and (min-width: $screen-md) {
            margin-bottom: 25px;
        }
    }

    .link-skip {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $text-color;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            text-decoration: none;
        }
    }

    .mm-choice-box {
        margin-top: 45px;

        .mm-card {
            position: relative;
            display: block;
            width: 90%;
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            height: 180px;
            cursor: pointer;
            word-wrap: break-word;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 10px;

            @media screen and (min-width: $screen-md) {
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 1.8%;
                margin-right: 1.8%;
                width: 21%;
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.16);
                opacity: 0;
                transition: opacity 0.25s;
                z-index: 2;
            }

            img {
                width: 100%;
            }

            &-label {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 30px;
                color: #fff;
                z-index: 3;
                opacity: 0;
                transition: opacity 0.25s;
                line-height: 1em;
            }

            &:hover {
                .overlay,
                .mm-card-label {
                    opacity: 1;
                    transition: opacity 0.5s;
                }
            }
        }
    }
}
