<div class="container mm-container-home">

  <div class="row">
    <div class="col-md-23 col mm-content-home">
      <div class="mm-search-pannel">
        <p class="f60 lacosteCdBold mm-choice-link" ng-click="$ctrl.clickGenderChoice()">
          <span>{{'home.lookingFor' | translate}}</span>
          <span class="mm-dropdown-choice mm-dropdown-choice-gender">
            <span class="text-info" ng-bind-html="$ctrl.genderLabel" ng-show="$ctrl.gender"></span>
            &nbsp;<img ng-src="{{$ctrl.objImages.caretdown}}" ng-show="$ctrl.gender" />
            &nbsp;<img ng-src="{{$ctrl.objImages.caretup}}" ng-hide="$ctrl.gender" />
          </span>
        </p>
        <p ng-if="$ctrl.gender < 3" class="f60 lacosteCdBold mm-choice-link" ng-show="$ctrl.gender" ng-click="$ctrl.clickEventChoice()" >
          <span>{{'home.for' | translate}}</span>
          <span class="mm-dropdown-choice mm-dropdown-choice-event">
            <span class="text-info" ng-bind-html="$ctrl.eventLabel" ng-show="$ctrl.event"></span>
            &nbsp;<img ng-src="{{$ctrl.objImages.caretdown}}" ng-show="$ctrl.event" />
            &nbsp;<img ng-src="{{$ctrl.objImages.caretup}}" ng-hide="$ctrl.event" />
          </span>
        </p>
      </div>
      <div class="col-md-18 col-md-offset-2 col text-center mm-next-box" ng-show="$ctrl.gender && $ctrl.event">
        <button ng-click="$ctrl.submitChoices()" ng-disabled="$ctrl.isClick" class="btn mm-btn-primary mm-btn-next">{{'home.btnNext' | translate}}</button>
        <a ng-click="$ctrl.skipChoice()" ng-disabled="$ctrl.isClick" class="f15 link-skip" ng-bind-html="'home.linkSkip' | translate"></a>
      </div>
    <div class="row" ng-hide="$ctrl.gender">    
      <div class="mm-choice-box mm-choice-box-gender">
        <div class="mm-card mm-card-1 text-center" ng-click="$ctrl.updateChoice(1)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.gender_1' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_11}}" alt="" />
        </div>
        <div class="mm-card mm-card-2 text-center" ng-click="$ctrl.updateChoice(2)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.gender_2' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_12}}" alt="" />
        </div>
        <div class="mm-card mm-card-3 text-center" ng-click="$ctrl.updateChoice(3)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.gender_3' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_13}}" alt="" />
        </div>
        <div class="mm-card mm-card-4 text-center" ng-click="$ctrl.updateChoice(4)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.gender_4' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_14}}" alt="" />
        </div>
      </div>
    </div>
    <div class="row" ng-hide="$ctrl.event">    
      <div class="mm-choice-box mm-choice-box-event">
        <div class="mm-card mm-card-1 col-md-5 text-center" ng-click="$ctrl.updateChoiceEvent(1)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.event_1' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_21}}" alt="" />
        </div>
        <div class="mm-card mm-card-2 col-md-5 text-center col-md-offset-1" ng-click="$ctrl.updateChoiceEvent(2)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.event_2' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_22}}" alt="" />
        </div>
        <div class="mm-card mm-card-3 col-md-5 text-center col-md-offset-1" ng-click="$ctrl.updateChoiceEvent(3)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.event_3' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_23}}" alt="" />
        </div>
        <div class="mm-card mm-card-4 col-md-5 text-center col-md-offset-1" ng-click="$ctrl.updateChoiceEvent(4)">
          <span class="overlay"></span>
          <p class="mm-card-label lacosteCdBold f44">{{'home.event_4' | translate}}</p>
          <img ng-src="{{$ctrl.objImages.card_24}}" alt="" />
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
