.mm-box {
    position: relative;
    overflow: hidden;

    .slick-btn-custom {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: 0;
        opacity: 0;
        transition: opacity 300ms ease-out;
        
        @media screen and (max-width: $screen-md) {
            opacity: 1;
        }

        img {
          position: relative;
          width: 100%;
          z-index: 1;
        }

        &.slick-prev-custom {
          left: -10px;
          @media screen and (min-width: $screen-md) {
            left: 10px;
          }
        }
        &.slick-next-custom {
          right: -10px;
          @media screen and (min-width: $screen-md) {
            right: 10px;
          }
        }
    }


    .slide{

      @media screen and (min-width: $screen-md) {

        .add-cart-btn{
          display: none;
        }

        &:hover{
          .add-cart-btn{
            display: block;
          }
        }

      }

    }

    @media screen and (min-width: $screen-md) {

      &:hover {
          .slick-btn-custom {
              opacity: 1;
          }
      }

    }
  
    @media screen and (min-width: $screen-md) {
        position: absolute;
    }
}

.mm-box-4 {
  width: 175px;
  height: 175px;
  background-color: #fff;
  margin-left: 47px;
  margin-top: 29px;
  z-index: 3;
  text-align: center;

  img {
      width: 100%;
  }

  @media screen and (min-width: $screen-md) {
      width: 210px;
      height: 210px;
      top: 0;
      right: 0;
      margin-left: 0;
      margin-top: 0;
      z-index: 14;
  }
}

.mm-box-6 {
  width: 212px;
  height: 212px;
  margin-left: 72px;
  margin-top: 29px;
  background-color: #fff;
  z-index: 13;
  text-align: center;

  img {
      width: 100%;
  }

  @media screen and (min-width: $screen-md) {
      width: 378px;
      height: 378px;
      top: 326px;
      left: 0;
      margin-left: 0;
      margin-top: 0;
  }
}

.mm-box-1 {
  width: 258px;
  height: 258px;
  background-color: #fff;
  margin-top: 27px;
  margin-left: 10px;
  z-index: 12;
  text-align: center;

  img {
      width: 100%;
  }

  @media screen and (min-width: $screen-md) {
      width: 546px;
      height: 546px;
      top: 270px;
      right: 0;
      margin-top: 0;
      margin-left: 0;
  }
}

.mm-box-2 {
  width: 258px;
  height: 258px;
  background-color: #fff;
  margin-left: 73px;
  margin-top: 29px;
  z-index: 7;
  text-align: center;

  img {
      width: 100%;
  }

  @media screen and (min-width: $screen-md) {
      width: 546px;
      height: 546px;
      top: 876px;
      left: 0;
      margin-top: 0;
      margin-left: 0;
      z-index: 1;
  }
}

.mm-box-5 {
  width: 212px;
  height: 212px;
  margin-top: 29px;
  margin-left: 72px;
  background-color: #fff;
  z-index: 1;
  text-align: center;

  img {
      width: 100%;
  }

  @media screen and (min-width: $screen-md) {
      width: 294px;
      height: 294px;
      top: 1068px;
      right: 0;
      margin-top: 0;
      margin-left: 0;
      z-index: 23;
  }
}

.mm-box-3 {
  width: 175px;
  height: 175px;
  margin-top: 29px;
  margin-left: 22px;
  background-color: #fff;
  z-index: 21;
  text-align: center;

  img {
      width: 100%;
  }

  @media screen and (min-width: $screen-md) {
      width: 378px;
      height: 378px;
      top: 1480px;
      left: inherit;
      right: 42px;
      margin-top: 0;
      margin-left: 0;
  }
}