<div 
    class="mm-box"
    ng-class="$ctrl.classes"
>
    <slick
        class="slick-custom" 
        id="slick{{$ctrl.type}}" 
        init-onload="true" 
        data="$ctrl.products" 
        dots=false 
        slides-to-show="1" 
        slides-to-scroll=1 
        touch-move=true 
        arrows=false 
        speed=500 
        cssEase="linear"
        
    >
        <div class="slide" ng-repeat="product in $ctrl.products track by $index">
            <img alt="" ng-src="https:{{product.images.bigtiles.flat}}&im-bypass=true" />
            <add-to-cart class="add-cart-btn" pid="product.master_id" color="product.color" />
        </div>
    </slick>
    <button class="slick-prev-custom slick-btn-custom" ng-click="$ctrl.prevSlick($ctrl.type)" ng-if="$ctrl.products.length > 1 || $ctrl.type == 'full'">
        <img alt="" ng-src="{{$ctrl.objImages.btn_prev}}" />
    </button>
    <button class="slick-next-custom slick-btn-custom" ng-click="$ctrl.nextSlick($ctrl.type)" ng-if="$ctrl.products.length > 1 || $ctrl.type == 'full'">
        <img alt="" ng-src="{{$ctrl.objImages.btn_next}}" />
    </button>
    <button class="slick-prev-custom slick-btn-custom" ng-click="$ctrl.prevSlickFull()" ng-if="$ctrl.type == 'full'">
        <img alt="" ng-src="{{$ctrl.objImages.btn_prev}}" />
    </button>
    <button class="slick-next-custom slick-btn-custom" ng-click="$ctrl.nextSlickFull()" ng-if="$ctrl.type == 'full'">
        <img alt="" ng-src="{{$ctrl.objImages.btn_next}}" />
    </button>
</div>