.mm-personal-shopper {
    .mmInputs-B {
        &.form-group {
            position: relative;
        }
        .form-control {
            color: #000;
            background-color: transparent;
            border: none !important;
            height: 40px;
        }
        .form-control-feedback {
            display: none;
        }
        .help-block {
            display: none;
        }
        &.has-success,
        &.has-error {
            .control-label {
                color: #000;
            }
        }
    }

    &.ng-submitted {
        .mmInputs-B {
            &.has-error {
                .control-label {
                    color: $brand-danger;
                }
                .form-control {
                    background-color: lighten($brand-danger, 33%);
                }
                .help-block {
                    display: block;
                    background-color: $brand-danger;
                    color: white;
                    font-size: 1.25rem;
                    padding: 0.5rem 1rem;
                    text-align: center;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -8px;
                        left: 1rem;
                        border-style: solid;
                        border-width: 4px;
                        border-color: transparent transparent $brand-danger
                            transparent;
                    }
                }
            }
        }
    }
}
