.mm-personal-shopper {
    .mmInputs-E {
        &.form-group {
            position: relative;
        }
        .control-label {
            transition: all 0.2s ease;
            position: absolute;
            top: 0;
            left: 0.5rem;
            height: 45px;
            line-height: 45px;
            padding: 0 0.5em;
        }
        .form-control {
            height: 45px;
            color: $input-color;
            background-color: $input-bg;
            border: 1px solid $input-border;
        }
        .form-control-feedback {
            display: none;
        }
        .help-block {
            display: none;
        }
        &.active {
            .control-label {
                transition: all 0.2s ease;
                transform: translateY(-50%);
                font-size: 1.15rem;
                z-index: 1;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 50%;
                    background-color: $input-bg;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    z-index: -1;
                }
            }
        }
        &.has-success,
        &.has-error {
            .control-label {
                color: $input-color;
            }
        }
    }

    .ng-submitted {
        .mmInputs-E {
            &.has-error {
                .control-label {
                    color: $brand-danger;
                }
                .form-control {
                    border-color: $brand-danger;
                }
                .help-block {
                    display: block;
                    text-align: center;
                    background-color: $brand-danger;
                    color: white;
                    font-size: 1.25rem;
                    padding: 0.5rem 1rem;
                    position: relative;
                    transform: translateY(-5px);
                }
            }
        }
    }
}
