.mm-personal-shopper {
    .mmInputs-C {
        &.form-group {
            position: relative;
        }
        .control-label {
            transition: all 0.2s ease;
            position: absolute;
            top: 0;
            left: 0;
            height: 34px;
            line-height: 34px;
        }
        .form-control {
            color: $input-color;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $input-border;
            padding: 0;
        }
        .form-control-feedback {
            display: none;
        }
        .help-block {
            display: none;
        }
        &.active {
            .control-label {
                transition: all 0.2s ease;
                font-size: 1.15rem;
                transform: translateY(-50%);
            }
        }
        &.has-success,
        &.has-error {
            .control-label {
                color: $input-color;
            }
        }
    }

    .ng-submitted {
        .mmInputs-C {
            &.has-error {
                .control-label {
                    color: $brand-danger;
                }
                .form-control {
                    border-bottom: 1px solid $brand-danger;
                }
                .help-block {
                    display: inline-block;
                    background-color: $brand-danger;
                    color: white;
                    font-size: 1.25rem;
                    padding: 0.5rem 1rem;
                    position: relative;
                    transform: translateY(-5px);
                }
            }
        }
    }
}
