.mm-personal-shopper {
    .mmInputs-A {
        &.form-group {
            position: relative;
        }
        .control-label {
            transition: all 0.2s ease;
            position: absolute;
            top: 0;
            left: 1rem;
            height: 40px;
            line-height: 40px;
        }
        .form-control {
            color: $input-color;
            background-color: $input-bg;
            border: none !important;
            padding-left: $form-control-padding-left;
            height: 40px;
        }
        .form-control-feedback {
            display: none;
        }
        .help-block {
            display: none;
        }
        &.active {
            .control-label {
                transition: all 0.2s ease;
                font-size: 1.15rem;
            }
        }
        &.has-success,
        &.has-error {
            .control-label {
                color: $input-color;
            }
        }
    }

    .ng-submitted {
        .mmInputs-A {
            &.has-error {
                .control-label {
                    color: $brand-danger;
                }
                .form-control {
                    background-color: lighten($brand-danger, 33%);
                }
                .help-block {
                    display: block;
                    background-color: $brand-danger;
                    color: white;
                    font-size: 1.25rem;
                    padding: 0.5rem 1rem;
                    position: relative;
                    text-align: center;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -8px;
                        left: 1rem;
                        border-style: solid;
                        border-width: 4px;
                        border-color: transparent transparent $brand-danger
                            transparent;
                    }
                }
            }
        }
    }
}
