// RADIOS
.mm-personal-shopper {
    [class*="schema-form-radios"] {
        .control-label {
            position: static;
            height: auto;
            line-height: 1;
        }

        .radio,
        .radio-inline {
            color: $text-color;

            input[type="radio"] {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;

                & + span {
                    &:before {
                        transition: all 0.5s ease;
                        content: "";
                        display: block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        box-shadow: 0 0 0 1px $input-border inset;
                    }
                }

                &:checked + span {
                    &:before {
                        transition: all 0.5s ease;
                        box-shadow: 0 0 0 1px $brand-primary inset,
                            0 0 0 4px white inset, 0 0 0 50px $brand-primary inset;
                    }
                }
            }
        }

        .help-block {
            display: none;
        }

        &.has-success {
            span,
            label {
                color: $text-color;
            }
        }
    }

    .ng-submitted {
        [class*="schema-form-radios"] {
            &.has-error {
                .radio-inline {
                    color: $brand-danger;
                }
                .control-label {
                    color: $brand-danger;
                }
                .form-control {
                    background-color: lighten($brand-danger, 33%);
                }
                .help-block {
                    display: block;
                    background-color: $brand-danger;
                    color: white;
                    font-size: 1.25rem;
                    padding: 0.5rem 1rem;
                    position: relative;
                    text-align: center;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -8px;
                        left: 1rem;
                        border-style: solid;
                        border-width: 4px;
                        border-color: transparent transparent $brand-danger
                            transparent;
                    }
                }
            }
        }
    }
}
