.mm-container-loading {
    position: relative;
    padding-top: 60px;
    padding-bottom: 65px;
    height: 100vh;
    z-index: 2;

    .mm-loading-box {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 314px;
        font-size: 0.35em;

        @media screen and (min-width: 321px) {
            height: 369px;
            font-size: 0.4em;
        }

        @media screen and (min-width: $screen-sm) {
            height: 708px;
        }

        @media screen and (min-width: $screen-md) {
            font-size: 1em;
            height: 629px;
        }

        .mm-loading-info {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 110px;
            line-height: 1em;
            z-index: 2;

            background-color: $body-bg;

            @media screen and (min-width: 321px) {
                height: 118px;
            }

            @media screen and (min-width: $screen-md) {
                background-color: transparent;
                height: 300px;
                line-height: 1.2em;
            }
        }

        .mm-loader {
            position: relative;
            width: 230px;
            height: 314px;
            background-color: #ccc;
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
            overflow: hidden;

            @media screen and (min-width: 321px) {
                width: 270px;
                height: 369px;
            }

            @media screen and (min-width: $screen-sm) {
                width: 518px;
                height: 708px;
            }

            @media screen and (min-width: $screen-md) {
                width: 460px;
                height: 629px;
            }

            li {
                display: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }
}
