<div class="container mm-container-loading">

  <div class="mm-loading-box text-center">
    
    <p class="f120 mm-loading-info lacosteCdBold" ng-bind-html="'loading.loading' | translate"></p>
    <ul class="list-unstyled mm-loader">
      <li ng-repeat="objImg in $ctrl.objImages track by $index"><img ng-src="{{objImg.src}}" /></li>
    </ul>
  </div>  

</div>
