#mmMenu {

    .mm-recap-choice{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 10px;

        @media screen and (min-width: $screen-md) {
            padding-left: 0;
            padding-right: 0;
            font-size: 1em;
            text-align: left;
            margin-bottom: 0;
        }

        .mm-caret{
            width: 15px;
        }
        .mm-dropdown-choice{
            cursor: pointer;
        }
        .mm-card{
            display: block;
            width: 100%;
            cursor: pointer;
            color: #989898;
            height: 20px;

            &:hover{
                color: #000;
            }
        }
    }

    .mmInputs-B {
        margin-bottom: 0;
        height: 30px;
        select {
            display: inline-block;
            width: 80%;
            color: #989898;
        }
        .form-control {
            padding-right: 0;
            padding: 6px 6px;
        }
    }

    .menu-button {
        width: 104px;
        height: 35px;
        background-color: #000;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 8px;
        padding-bottom: 8px;
        // cursor: pointer;
        margin-bottom: 27px;
        
        @media screen and (min-width: $screen-md) {
            padding-left: 2px;
            padding-right: 2px;
        }

        > * {
            display: inline-block;
            vertical-align: top;
        }

        p {
            height: 20px;
            line-height: 20px;
        }

        .burger-menu {
            width: 17px;
            margin-right: 5px;
            background-color: transparent;
            margin-top: 5px;

            .line {
                display: block;
                width: 100%;
                height: 1px;
                background-color: #fff;
                margin-bottom: 3px;
            }
        }
    }

    .search-pannel-menu {
        .choice-link {
            img {
                width: 11px;
            }
        }
    }

    .look-switch {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        margin-top: 27px;
        margin-bottom: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        
        @media screen and (min-width: $screen-md) {
            padding-left: 0;
            padding-right: 0;
        }

        p {
            display: inline-block;
            width: 80%;
            vertical-align: middle;
            line-height: 1.8;
        }

        img {
            display: block;
            width: 6px;
            margin-top: 6px;
            vertical-align: middle;

            cursor: pointer;

            &.caretleft {
                float: left;
            }

            &.caretright {
                float: right;
            }
        }
    }

    .filters-box {
        padding-bottom: 20px;
        // border-bottom: 1px solid #e6e6e6;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;

        @media screen and (min-width: $screen-md) {
            padding-left: 0;
            padding-right: 0;
            text-align: left;
        }
        
        > p {
            margin-bottom: 10px;
        }

        .title{
            text-align: center;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            padding-top: 10px;
            padding-bottom: 10px;

            @media screen and (min-width: $screen-md) {
                text-align: left;
                border: 0;
                padding: 0;
            }
        }

        .filter-btn {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #e6e6e6;
            padding-top: 10px;
            padding-bottom: 10px;
            .cross {
                margin-top: 3px;
                width: 8px;
                height: 8px;
            }
        }

        .filter-list {
            margin-top: 15px;
            margin-bottom: 15px;

            label {
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }

    .menu-look-box {
        padding-top: 30px;
        width: 230px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $screen-md) {
            width: auto;
        }

        .mm-btn-wrapper {
            display: flex;

            .num-saved-looks {
                pointer-events: none;
                padding-top: 11px;
                margin-left: 4px;

                @media screen and (min-width: $screen-md) {
                    padding-top: 6px;
                }
            }
        }

        .txt-look {
            margin-top: 20px;
        }
        
    }
    .btn-filters{
        position: absolute;
        width: 78px;
        height: 78px;
        top: 280px;
        right: 20px;
        cursor: pointer;
        z-index: 1000;
    }
    .close-filter-btn{
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        cursor: pointer;
        z-index: 10000;
    }
}
