<div id="mmMenu">
	<div class="menu-info" ng-if="$root.currentPage == 4 && $root.currentLookId">
		<div ng-if="$root.currentPage == 4 && $ctrl.isFilterOpen" class="mm-recap-choice text-left">
			<div class="close-filter-btn" ng-if="$ctrl.isMin" ng-click="$ctrl.closeFilters()">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:none;stroke:#231F20;stroke-miterlimit:10;}
				</style>
				<path class="st0" d="M40,1c21.5,0,39,17.5,39,39c0,21.5-17.5,39-39,39S1,61.5,1,40C1,18.5,18.5,1,40,1z"/>
				<path class="st0" d="M61.9,19.3L19.2,62l-0.3-0.3L61.6,19L61.9,19.3z"/>
				<path class="st0" d="M61.6,62L18.9,19.3l0.3-0.3l42.7,42.7L61.6,62z"/>
				</svg>

			</div>
			<p class="f15 lacosteCdBold mm-choice-link" ng-click="$ctrl.clickGenderChoice()">
	          <span>{{'menu.lookingFor' | translate}}</span><br>
	          <span>{{'menu.for' | translate}}</span>
	          <span class="mm-dropdown-choice mm-dropdown-choice-gender">
	            <span class="text-info" ng-bind-html="$ctrl.genderLabel" ng-show="$ctrl.gender"></span>
	            &nbsp;<img class="mm-caret" ng-src="{{$ctrl.objImages.caretdown}}" ng-show="$ctrl.gender" />
	            &nbsp;<img class="mm-caret" ng-src="{{$ctrl.objImages.caretup}}" ng-hide="$ctrl.gender" />
	          </span>
	        </p>
	        <p ng-if="$ctrl.gender < 3" class="f15 lacosteCdBold mm-choice-link" ng-show="$ctrl.gender" ng-click="$ctrl.clickEventChoice()" >
	          <span>{{'menu.for' | translate}}</span>
	          <span class="mm-dropdown-choice mm-dropdown-choice-event">
	            <span class="text-info" ng-bind-html="$ctrl.eventLabel" ng-show="$ctrl.event"></span>
	            &nbsp;<img class="mm-caret" ng-src="{{$ctrl.objImages.caretdown}}" ng-show="$ctrl.event" />
	            &nbsp;<img class="mm-caret" ng-src="{{$ctrl.objImages.caretup}}" ng-hide="$ctrl.event" />
	          </span>
	        </p>
		    <div class="row" ng-hide="$ctrl.gender">    
		      <div class="mm-choice-box mm-choice-box-gender">
		        <div class="mm-card mm-card-1 text-left" ng-click="$ctrl.updateChoiceMenu(1)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.gender_1' | translate}}</p>
		        </div>
		        <div class="mm-card mm-card-2 text-left" ng-click="$ctrl.updateChoiceMenu(2)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.gender_2' | translate}}</p>
		        </div>
		        <div class="mm-card mm-card-3 text-left" ng-click="$ctrl.updateChoiceMenu(3)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.gender_3' | translate}}</p>
		        </div>
		        <div class="mm-card mm-card-4 text-left" ng-click="$ctrl.updateChoiceMenu(4)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.gender_4' | translate}}</p>
		        </div>
		      </div>
		    </div>
		    <div class="row" ng-hide="$ctrl.event">    
		      <div class="mm-choice-box mm-choice-box-event">
		        <div class="mm-card mm-card-1 text-left" ng-click="$ctrl.updateChoiceMenuEvent(1)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.event_1' | translate}}</p>
		        </div>
		        <div class="mm-card mm-card-2 text-left" ng-click="$ctrl.updateChoiceMenuEvent(2)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.event_2' | translate}}</p>
		        </div>
		        <div class="mm-card mm-card-3 text-left" ng-click="$ctrl.updateChoiceMenuEvent(3)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.event_3' | translate}}</p>
		        </div>
		        <div class="mm-card mm-card-4 text-left" ng-click="$ctrl.updateChoiceMenuEvent(4)">
		          <p class="mm-card-label lacosteCdBold f15">{{'home.event_4' | translate}}</p>
		        </div>
		      </div>
		    </div>
		</div>
		<div ng-if="$root.currentPage == 4 && !$ctrl.isMin" class="look-switch text-center">
			<img ng-click="$ctrl.prevLook()" ng-src="{{$ctrl.objImages.caretleft_min}}" alt="" class="caretleft" />
			<p class="text-uppercase f15 lacosteCdBold">LOOK 0{{$root.currentLook}} / 05</p>
			<img ng-click="$ctrl.nextLook()" ng-src="{{$ctrl.objImages.caretright_min}}" alt="" class="caretright" />
		</div>
		<div ng-if="$root.currentPage == 4 && $ctrl.isFilterOpen" class="filters-box">
			<p class="title">{{'menu.filter' | translate}}</p>
			<a ng-click="isCollapsed = !isCollapsed" class="collection-btn filter-btn">
				<p class="f15 lacosteCdBold text-uppercase">
					{{'menu.collections' | translate}}
					<img ng-show="!isCollapsed" ng-src="{{$ctrl.objImages.cross_min}}" class="pull-right cross">
					<img ng-show="isCollapsed" ng-src="{{$ctrl.objImages.minus_min}}" class="pull-right minus">
				</p>
			</a>

			<div uib-collapse="!isCollapsed" id="collapseCollections" class="collection-list filter-list">
				<ul class="list-unstyled">
					<!-- "collect_1": "LACOSTE", -->
					<li>
						<input ng-model="$ctrl.aFilters[0]" ng-change="$ctrl.updateFiltersCollection()" type="checkbox" name="collections" value="1" id="ldefault" ng-disabled="$ctrl.isFilterCheck() && !$ctrl.aFilters[0]" />
						<label for="ldefault">{{'menu.collect_1' | translate}}</label>
					</li>
					<!-- "collect_2": "LACOSTE LIVE", -->
					<li ng-if="$ctrl.genderTaggage != 'Girls' && $ctrl.genderTaggage != 'Boys'">
						<input ng-model="$ctrl.aFilters[1]" ng-change="$ctrl.updateFiltersCollection()" type="checkbox" name="collections" value="2" id="live" ng-disabled="$ctrl.isFilterCheck() && !$ctrl.aFilters[1]" />
						<label for="live">{{'menu.collect_2' | translate}}</label>
					</li>
					<!-- "collect_3": "LACOSTE SPORT", -->
					<li>
						<input ng-model="$ctrl.aFilters[2]" ng-change="$ctrl.updateFiltersCollection()" type="checkbox" name="collections" value="3" id="sport" ng-disabled="$ctrl.isFilterCheck() && !$ctrl.aFilters[2]" />
						<label for="sport">{{'menu.collect_3' | translate}}</label>
					</li>
					<!-- "collect_4": "COLLECTION DÉFILÉ" -->
					<li ng-if="$ctrl.genderTaggage != 'Girls' && $ctrl.genderTaggage != 'Boys'">
						<input ng-model="$ctrl.aFilters[3]" ng-change="$ctrl.updateFiltersCollection()" type="checkbox" name="collections" value="4" id="defile" ng-disabled="$ctrl.isFilterCheck() && !$ctrl.aFilters[3]" />
						<label for="defile">{{'menu.collect_4' | translate}}</label>
					</li>
				</ul>
			</div>
			<a ng-click="isCollapsedProducts = !isCollapsedProducts" class="products-btn filter-btn">
				<p class="f15 lacosteCdBold text-uppercase">
					{{'menu.products' | translate}}
					<img ng-show="!isCollapsedProducts" ng-src="{{$ctrl.objImages.cross_min}}" class="pull-right cross">
					<img ng-show="isCollapsedProducts" ng-src="{{$ctrl.objImages.minus_min}}" class="pull-right minus">
				</p>
			</a>
			<div uib-collapse="!isCollapsedProducts" class="collapse products-list filter-list">		<ul class="list-unstyled">
					<!-- "POLOS" -->
					<li>
						<input ng-model="$ctrl.aFiltersProducts[0]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="1" id="polos" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[0]" />
						<label for="polos">{{'menu.style_1' | translate}}</label>
					</li>
					<!-- "T-SHIRTS" -->
					<li>
						<input ng-model="$ctrl.aFiltersProducts[1]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="2" id="tshirt" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[1]" />
						<label for="tshirt">{{'menu.style_2' | translate}}</label>
					</li>
					<!-- "CHEMISES" -->
					<li>
						<input ng-model="$ctrl.aFiltersProducts[2]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="3" id="chemises" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[2]" />
						<label for="chemises">{{'menu.style_3' | translate}}</label>
					</li>
					<!-- "ROBES" -->
					<li ng-if="$ctrl.genderTaggage != 'Men' && $ctrl.genderTaggage != 'Boys'">
						<input ng-model="$ctrl.aFiltersProducts[3]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="4" id="robes" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[3]" />
						<label for="robes">{{'menu.style_4' | translate}}</label>
					</li>
					<!-- "PANTALONS" -->
					<li>
						<input ng-model="$ctrl.aFiltersProducts[4]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="5" id="pantalons" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[4]" />
						<label for="pantalons">{{'menu.style_5' | translate}}</label>
					</li>
					<!-- "SURVÊTEMENTS" -->
					<li>
						<input ng-model="$ctrl.aFiltersProducts[5]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="6" id="survetements" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[5]" />
						<label for="survetements">{{'menu.style_6' | translate}}</label>
					</li>
					<!-- "JUPES" -->
					<li ng-if="$ctrl.genderTaggage != 'Men' && $ctrl.genderTaggage != 'Boys'">
						<input ng-model="$ctrl.aFiltersProducts[7]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="8" id="jupes" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[7]" />
						<label for="jupes">{{'menu.style_8' | translate}}</label>
					</li>
					<!-- "HAUTS" -->
					<li>
						<input ng-model="$ctrl.aFiltersProducts[8]" ng-change="$ctrl.updateFiltersProducts()" type="checkbox" name="products" value="9" id="hauts" ng-disabled="$ctrl.isFilterProductsCheck() && !$ctrl.aFiltersProducts[8]" />
						<label for="hauts">{{'menu.style_9' | translate}}</label>
					</li>
				</ul>
			</div>
		</div>
		<div ng-if="$root.currentPage == 4 && $ctrl.isMin" class="look-switch text-center">
			<img ng-click="$ctrl.prevLook()" ng-src="{{$ctrl.objImages.caretleft_min}}" alt="" class="caretleft" />
			<p class="text-uppercase f15 lacosteCdBold">LOOK 0{{$root.currentLook}} / 05</p>
			<img ng-click="$ctrl.nextLook()" ng-src="{{$ctrl.objImages.caretright_min}}" alt="" class="caretright" />
		</div>
		<div class="btn-filters" ng-click="$ctrl.openFilters()" ng-if="$ctrl.isMin && !$ctrl.isFilterOpen">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:none;stroke:#231F20;stroke-miterlimit:10;}
					.st1{fill:#FFFFFF;}
				</style>
				<path class="st0" d="M40,1c21.5,0,39,17.5,39,39c0,21.5-17.5,39-39,39S1,61.5,1,40C1,18.5,18.5,1,40,1z"/>
				<g>
					<path class="st1" d="M24,26h32v1H24V26z"/>
					<polygon points="56,26 24,26 24,27 56,27 56,26 	"/>
				</g>
				<g>
					<circle class="st1" cx="33" cy="26.5" r="4.5"/>
					<path d="M33,22.5c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4C29,24.3,30.8,22.5,33,22.5 M33,21.5c-2.8,0-5,2.2-5,5s2.2,5,5,5
						s5-2.2,5-5S35.8,21.5,33,21.5L33,21.5z"/>
				</g>
				<g>
					<path class="st1" d="M24,54h32v1H24V54z"/>
					<polygon points="56,54 24,54 24,55 56,55 56,54 	"/>
				</g>
				<g>
					<circle class="st1" cx="37" cy="54.5" r="4.5"/>
					<path d="M37,50.5c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4C33,52.3,34.8,50.5,37,50.5 M37,49.5c-2.8,0-5,2.2-5,5
						c0,2.8,2.2,5,5,5s5-2.2,5-5C42,51.7,39.8,49.5,37,49.5L37,49.5z"/>
				</g>
				<g>
					<path class="st1" d="M24,40h32v1H24V40z"/>
					<polygon points="56,40 24,40 24,41 56,41 56,40 	"/>
				</g>
				<g>
					<circle class="st1" cx="47" cy="40.5" r="4.5"/>
					<path d="M47,36.5c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4C43,38.3,44.8,36.5,47,36.5 M47,35.5c-2.8,0-5,2.2-5,5
						c0,2.8,2.2,5,5,5s5-2.2,5-5C52,37.7,49.8,35.5,47,35.5L47,35.5z"/>
				</g>
				</svg>
		</div>
		<div ng-if="$root.currentPage == 4" class="menu-look-box">
			<div class="mm-btn-wrapper">
				<button ng-disabled="$ctrl.checkLookAlreadyExist()" ng-click="$ctrl.saveLook()" class="btn mm-btn-transparent lacosteCdBold f15">
					{{'menu.save_look' | translate}}
				</button>
				<div ng-disabled="$ctrl.aLooks.length === 0"class="num-saved-looks btn mm-btn-transparent lacosteCdBold f15">
					0{{$ctrl.aLooks.length}}
				</div>
			</div>
			<p class="text-uppercase lacosteCdBold f15 txt-look">{{'menu.your_looks' | translate}}</p>
			<!-- SAVE LOOK -->
			<saved-looks></saved-looks>
		</div>
	</div>
</div>