// VARIABLES CUSTOM BOOTSRAP
$grid-columns: 23;
$grid-gutter-width: 0;
$container-large-desktop: 1196px;

@import "styles/variables"; // Bootstrap variables
@import "styles/fonts"; // Font rules
@import "styles/global"; // Global rules

@import "styles/mmInputs/mmInputs"; // Forms

// injector
// endinjector
