$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// @import "styles/variables";
@import "styles/bootstrap-iso";

// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// FIX CHROME OVERFLOW ON MODALS
.mm-personal-shopper .modal-open,
.mm-personal-shopper .modal {
    height: 100%;
}

// MODAL FIX MIN SCROLL
.mm-personal-shopper .modal.in .mm-personal-shopper .modal-dialog {
    max-height: 90%;
    overflow: auto;
}

.mm-personal-shopper a {
    cursor: pointer;
}

.mm-personal-shopper .btn.active.focus,
.mm-personal-shopper .btn.active:focus,
.mm-personal-shopper .btn.focus,
.mm-personal-shopper .btn:active.focus,
.mm-personal-shopper .btn:active:focus,
.mm-personal-shopper .btn:focus,
.mm-personal-shopper .form-control:focus,
.mm-personal-shopper input,
.mm-personal-shopper select {
    outline: none !important;
    box-shadow: none !important;
}

.mm-personal-shopper input[type="number"] {
    appearance: textfield;
}
.mm-personal-shopper input::-webkit-outer-spin-button,
.mm-personal-shopper input::-webkit-inner-spin-button {
    appearance: none;
}

.mm-personal-shopper .btn.mm-btn-primary {
    background-color: $text-color;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.071em;
    border: 0;
    height: 50px;
    padding-top: 2px;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        background-color: #000;
    }
}

.mm-personal-shopper .btn.mm-btn-secondary {
    background-color: #fff;
    color: $text-color;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.071em;
    border: 0;
    height: 50px;
    padding-top: 2px;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        background-color: #fff;
    }
}

.mm-personal-shopper .btn.mm-btn-transparent {
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dcdcdc;
    color: $text-color;

    height: 40px;
    padding-top: 8px;

    @media screen and (min-width: $screen-md) {
        height: 32px;
        padding-top: 6px;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #fff;
    }
}

.mm-personal-shopper .btn.mm-btn-custom {
    background-color: #fff;
    color: $text-color;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    height: 30px;
    font-size: 1.143em;
    padding-top: 2px;
    font-weight: 300;
    -webkit-transition: background-color 0.25s, color 0.25s;
    -moz-transition: background-color 0.25s, color 0.25s;
    -ms-transition: background-color 0.25s, color 0.25s;
    -o-transition: background-color 0.25s, color 0.25s;
    transition: background-color 0.25s, color 0.25s;

    &:hover,
    &:active,
    &:focus {
        // background-color: #415f4c;
        // color: #FFF;
        // -webkit-transition: background-color 0.25s, color 0.25s;
        // -moz-transition: background-color 0.25s, color 0.25s;
        // -ms-transition: background-color 0.25s, color 0.25s;
        // -o-transition: background-color 0.25s, color 0.25s;
        // transition: background-color 0.25s, color 0.25s;
    }

    span {
        vertical-align: middle;
    }

    img {
        font-size: 1.3em;
        padding-right: 5px;
        vertical-align: middle;
    }
}

.mm-personal-shopper .btn.mm-btn-feel {
    position: relative;
    background-color: #fff;
    width: 73px;
    height: 73px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: $text-color;

    img {
        font-size: 1.6em;
    }
}
