<div class="checkbox schema-form-checkbox {{form.htmlClass}}" 
  ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}">

  <label class="{{form.labelHtmlClass}}">
    <input type="checkbox" 
      sf-changed="form" 
      ng-disabled="form.readonly" 
      ng-model="$$value$$" 
      ng-model-options="form.ngModelOptions" 
      schema-validate="form" 
      class="{{form.fieldHtmlClass}}" 
      name="{{form.key.slice(-1)[0]}}"> 
      
    <span bind-html-compile="form.title"></span>
  </label>
  <div class="help-block" sf-message="form.description"></div>
</div>



