<fieldset ng-disabled="form.readonly" class="schema-form-fieldset {{form.htmlClass}}">
  <legend ng-class="{'sr-only': !showTitle() }" bind-html-compile="form.title"></legend>
  <div class="help-block" ng-show="form.description" ng-bind-html="form.description"></div>
  <sf-decorator ng-repeat="item in form.items" form="item"></sf-decorator>
</fieldset>
