<div class="schema-form-multiselectdate form-group {{form.htmlClass}}" ng-class="{'has-error': hasError()}">
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>

  <div class="form-inline"
    multi-select-date="form"
    sf-changed="form" 
    ng-disabled="form.readonly" 
    ng-model="$$value$$" 
    ng-model-options="form.ngModelOptions" 
    schema-validate="form" 
    class="{{form.fieldHtmlClass}}" 
    name="{{form.key.slice(-1)[0]}}">


    <select ng-model="date.day" ng-options="day for day in selects.days(form)" class="form-control" ng-disabled="disabledDate || disabledDay">
      <option value="" disabled>--</option>
    </select>

    <select ng-model="date.month" ng-options="month for month in selects.months(form)" class="form-control" ng-disabled="disabledDate || disabledMonth">
      <option value="" disabled>--</option>
    </select>

    <select ng-model="date.year" ng-options="year for year in selects.years(form) | orderBy: year:yearOrder" class="form-control" ng-disabled="disabledDate || disabledYear">
      <option value="" disabled>----</option>
    </select>
  </div>

  <div class="help-block" sf-message="form.description"></div>
</div>

