<div class="form-group schema-form-radios-inline {{form.htmlClass}}" 
  ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}">

  <label ng-model="$$value$$" ng-model-options="form.ngModelOptions" 
    schema-validate="form" class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()" bind-html-compile="form.title">
  </label>

  <div>
    <label class="radio-inline" ng-repeat="item in form.titleMap">
      <input type="radio" 
        class="{{form.fieldHtmlClass}}" 
        sf-changed="form" 
        ng-disabled="form.readonly" 
        ng-model="$$value$$" 
        ng-value="item.value" 
        name="{{form.key.join('.')}}"> 

      <span bind-html-compile="item.name"></span>
    </label>
  </div>
  <div class="help-block" sf-message="form.description"></div>
</div>