
<div sf-array="form" ng-init="selected = { tab: 0 }"
     class="clearfix schema-form-tabarray schema-form-tabarray-{{form.tabType || 'left'}} {{form.htmlClass}}">
  <div ng-if="!form.tabType || form.tabType !== 'right'"
       ng-class="{'col-xs-3': !form.tabType || form.tabType === 'left'}">
    <ul class="nav nav-tabs"
        ng-class="{ 'tabs-left': !form.tabType || form.tabType === 'left'}">
      <li ng-repeat="item in modelArray track by $index"
          ng-click="$event.preventDefault() || (selected.tab = $index)"
          ng-class="{active: selected.tab === $index}">
          <a href="#">{{interp(form.title,{'$index':$index, value: item}) || $index}}</a>
      </li>
      <li ng-hide="form.readonly" ng-click="$event.preventDefault() || (selected.tab = appendToArray().length - 1)">
        <a href="#">
          <i class="fa fa-plus"></i>
          {{ form.add || 'Add'}}
          </a>
      </li>
    </ul>
  </div>

  <div ng-class="{'col-xs-9': !form.tabType || form.tabType === 'left' || form.tabType === 'right'}">
    <div class="tab-content {{form.fieldHtmlClass}}">
      <div class="tab-pane clearfix"
           ng-repeat="item in modelArray track by $index"
           ng-show="selected.tab === $index"
           ng-class="{active: selected.tab === $index}">
           <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)"></sf-decorator>


           <button ng-hide="form.readonly"
                   ng-click="selected.tab = deleteFromArray($index).length - 1"
                   type="button"
                   class="btn {{ form.style.remove || 'btn-default' }} pull-right">
             <i class="fa fa-trash"></i>
             {{ form.remove || 'Remove'}}
           </button>
      </div>
    </div>
  </div>

  <div ng-if="form.tabType === 'right'" class="col-xs-3">
    <ul class="nav nav-tabs tabs-right">
      <li ng-repeat="item in modelArray track by $index"
          ng-click="$event.preventDefault() || (selected.tab = $index)"
          ng-class="{active: selected.tab === $index}">
          <a href="#">{{interp(form.title,{'$index':$index, value: item}) || $index}}</a>
      </li>
      <li ng-hide="form.readonly" ng-click="$event.preventDefault() || appendToArray()">
        <a href="#">
          <i class="fa fa-plus"></i>
          {{ form.add || 'Add'}}
          </a>
      </li>
    </ul>
  </div>

</div>
