<div class="mm-bg-page">
  <img ng-src="{{$ctrl.bgImage}}?sw=2000" alt="">
</div>
<div class="container mm-container-qualif">

  <div class="row">
    <div class="col-xs-3 col-xs-offset-1 col-md-3 col">
      <!-- BNT PREVIOUS PAGE -->
      <button ng-click="$ctrl.back()" class="btn mm-btn-custom btn-block mm-btn-previous hidden-xs hidden-sm">
        <img ng-src="{{$ctrl.objImages.caretleft}}" />
        <span>{{'qualif.btnPrevious' | translate}}</span>
      </button>
      <button ng-click="$ctrl.back()" class="btn mm-btn-custom btn-block mm-btn-previous-min hidden-md hidden-lg">
        <img ng-src="{{$ctrl.objImages.caretleft}}" />
      </button>
    </div>
    <div class="col-md-18 col-md-offset-2 col text-center">
      <div class="mm-main-box">
        <p class="f60 lacosteCdBold mm-title">{{'qualif.title' | translate}}</p>
        <div class="mm-feel-like-box">
          <div ng-repeat="proposal in $ctrl.aProposals track by $index" `
               class="mm-feel-like-card mm-feel-like-card-{{($index+1)}} text-center" 
               ng-class="{'mm-card-pos-1': $index == 0, 'mm-card-pos-2': $index == 1, 'mm-card-pos-3': $index == 2}" 
               ng-if="$index < 3">
            <img ng-src="{{proposal.product.image}}" class="mm-bg-feel-card" alt="">

            <div class="mm-btn-feel-box">
              <button ng-disabled="$ctrl.isClick" class="mm-btn-unlike mm-btn-feel btn" ng-click="$ctrl.dislike(proposal.id)">
                <img ng-src="{{$ctrl.objImages.cross_icon}}" />
              </button>
              <button ng-disabled="$ctrl.isClick" class="mm-btn-like mm-btn-feel btn" ng-click="$ctrl.like(proposal.id)">
                <img ng-src="{{$ctrl.objImages.heart_icon}}" />
              </button>
            </div>

          </div>        
        </div>
      </div>
      <button ng-click="$ctrl.goLook()" class="btn mm-btn-secondary mm-btn-discover" ng-show="$ctrl.countView >= 5 || $ctrl.nbReco < 15">
        <span>{{'qualif.btnDiscover' | translate}}</span>
      </button>
    </div>
  </div>  

</div>
