.mm-container-qualif {
    position: relative;
    padding-top: 20px;
    padding-bottom: 24px;
    z-index: 2;

    @media screen and (min-width: $screen-md) {
        padding-top: 60px;
        padding-bottom: 65px;
    }

    // .col{
    //   border: 1px solid #0F0;
    //   // height: 100vh;
    // }

    .mm-burger-menu {
        background-color: #000;
        width: 100%;
        height: 32px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .mm-btn-previous {
        margin-top: 10px;
        width: 104px;
    }

    .mm-btn-previous-min {
        margin-top: 23px;

        color: #292929;
        border: 1px solid #292929;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        width: 37px;
        height: 37px;
        background-color: transparent;
        font-size: 1.4em;
        line-height: 1.2em;
    }

    .mm-title {
        color: #fff;
    }

    .mm-main-box {
        font-size: 0.85em;

        @media screen and (min-width: $screen-md) {
            font-size: 1em;
        }
    }

    .mm-feel-like-box {
        position: relative;
        width: 365px;
        height: 430px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 28px;

        @media screen and (min-width: $screen-md) {
            margin-top: 30px;
            margin-bottom: 70px;
        }

        .mm-feel-like-card {
            position: absolute;
            width: 283px;
            height: 388px;
            overflow: hidden;
            background-color: #292929;

            img.mm-bg-feel-card {
                // margin-left: -13%;
                height: 100%;
            }

            &.mm-card-pos-1 {
                left: 20px;
                top: 0;
                z-index: 3;
            }

            &.mm-card-pos-2 {
                left: 40px;
                top: 20px;
                z-index: 2;
            }

            &.mm-card-pos-3 {
                left: 60px;
                top: 40px;
                z-index: 1;
            }
        }

        .mm-btn-feel-box {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 35px;
        }

        .mm-btn-feel {
            vertical-align: top;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .mm-btn-discover {
        width: 90%;
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.mm-bg-page {
    position: absolute;
    width: 100%;
    // height: 100%;
    z-index: 1;

    img {
        // height: 100%;

        @media screen and (min-width: $screen-md) {
            width: 100%;
            // height: auto;
        }
    }
}
