.mm-template-a {
    position: relative;
    width: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 0.5em;
    padding-bottom: 60px;
    overflow: hidden;

    @media screen and (min-width: $screen-md) {
        font-size: 1em;
        margin-top: 42px;
        padding-bottom: 0;
        max-width: 966px;
        height: 1956px;
    }

    .mm-col {
        border: 1px solid #0f0;
        height: 100vh;
    }

    .mm-bg-deco-title {
        position: absolute;
        width: 222px;
        height: 72px;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;

        @media screen and (min-width: $screen-md) {
            width: 411px;
            height: 150px;
            left: -75px;
        }
    }

    .mm-title {
        position: relative;
        padding-left: 42px;
        padding-top: 30px;
        width: 70%;
        z-index: 2;

        @media screen and (min-width: $screen-md) {
            width: 100%;
            padding-left: 42px;
            padding-top: 57px;
        }
    }

    

    //  DETAILS //

    .mm-box-color {
        position: absolute;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        width: 187px;
        height: 187px;
        margin: auto;
        left: -46px;
        top: 277px;
        z-index: 10;
        background-color: #fff;
        @media screen and (min-width: $screen-md) {
            width: 336px;
            height: 336px;
            top: 625px;
            left: 0;
            right: 0;
        }
    }

    .mm-box-a {
        position: absolute;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        width: 125px;
        height: 125px;
        background-color: #ccc;
        top: 1270px;
        left: 160px;
        z-index: 2;
        text-align: center;

        img {
            position: absolute;
            width: 2000px;
            left: -620%;
            top: -531%;

            @media screen and (min-width: $screen-md) {
                left: -501%;
            }
        }

        @media screen and (min-width: $screen-md) {
            top: 125px;
            right: 126px;
            left: inherit;
            width: 168px;
            height: 168px;
            z-index: 13;
        }
    }

    .mm-box-b {
        position: absolute;
        width: 212px;
        height: 212px;
        top: 691px;
        left: 20px;
        -moz-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        transform: rotate(-30deg);
        background-color: #ccc;
        z-index: 6;
        text-align: center;

        img {
            position: absolute;
            width: 2000px;
            -moz-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            -o-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            transform: rotate(30deg);
            left: -247%;
            top: -320%;
            @media screen and (min-width: $screen-md) {
                left: -200%;
                top: -250%;
            }
        }

        @media screen and (min-width: $screen-md) {
            width: 370px;
            height: 370px;
            top: 1460px;
            left: 150px;
            z-index: 20;
        }
    }

    .mm-box-stripes {
        position: absolute;
        width: 192px;
        top: 1096px;
        left: 22px;
        z-index: 4;
        -moz-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);

        @media screen and (min-width: $screen-md) {
            width: 400px;
            top: 1360px;
            right: -37px;
            left: inherit;
            z-index: 22;
        }

        .mm-stripe {
            display: block;
            width: 187px;
            height: 5px;
            background-color: #ccc;
            margin-bottom: 5px;

            @media screen and (min-width: $screen-md) {
                width: 390px;
                height: 10px;
                margin-bottom: 10px;
            }

            &:nth-child(even) {
                margin-left: 20px;
            }
        }
    }
}
