<div class="mm-template-a">
	<div class="mm-bg-deco-title"></div>
	<p class="mm-title f60 lacosteCdBold">{{'resultat.title' | translate}}</p>
	<!-- vMax -->
	<div class="mm-template-max" ng-if="$ctrl.initSlick && !$ctrl.isMin">
		<!-- BOX Accessories 1 : head (hat, glasses...)  -->
		<box
			type="'headAccessories'"
			products="$ctrl.config.headAccessories"
			classes="'mm-box-4 mm-box-accessories-1'"
        ></box>
		<!-- BOX Main Top : Top main piece -->
		<box
			type="'top'"
			products="$ctrl.config.top"
			classes="'mm-box-1 mm-box-main-top'"
        ></box>
		<!-- BOX Big piece : Coat for ex. -->
		<box
			type="'big'"
			products="$ctrl.config.big"
			classes="'mm-box-6 mm-box-big-piece'"
        ></box>
		<!-- BOX Main Bottom : Bottom main piece -->
		<box
			type="'bottom'"
			products="$ctrl.config.bottom"
			classes="'mm-box-2 mm-box-main-bottom'"
        ></box>
		<!-- BOX Accessories 2 : other accessories (scarves, bag...) -->
		<box
			type="'accessories'"
			products="$ctrl.config.accessories"
			classes="'mm-box-5 mm-box-accessories-2'"
        ></box>
		<!-- BOX Shoes -->
		<box
			type="'shoes'"
			products="$ctrl.config.shoes"
			classes="'mm-box-3 mm-box-shoes'"
        ></box>
		<!-- Details accesories -->
		<div ng-if="$ctrl.currentHeadAccessories" class="mm-box-a mm-box">
			<img alt="" ng-src="https:{{$ctrl.currentHeadAccessories.images.bigtiles.flat}}&sw=2000&sh=2000" />		
		</div>
		<!-- MAIN Color -->
		<div 
            class="mm-box-color mm-box"
            style="background-color: {{$ctrl.config.maincolor}}"
		></div>
		<!-- Details material -->
		<div class="mm-box-b mm-box">
			<img alt="" ng-src="https:{{$ctrl.currentShoes.images.bigtiles.flat}}&sw=2000&sh=2000" />
		</div>
		<!-- Stripes -->
		<div class="mm-box-stripes mm-box">
            <span class="mm-stripe mm-stripe-1" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-2" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-3" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-4" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-5" style="background-color: {{$ctrl.config.maincolor}}" />
        </div>
	</div>
	<!-- vMin -->
	<div class="mm-template-min" ng-if="$ctrl.initSlick && $ctrl.isMin">
		<!-- BOX Main Top : Top main piece -->
		<box
			type="'top'"
			products="$ctrl.config.top"
			classes="'mm-box-1 mm-box-main-top'"
        ></box>
		<!-- MAIN Color -->
		<div 
            class="mm-box-color mm-box"
            style="background-color: {{$ctrl.config.maincolor}}"
		></div>
		<!-- BOX Main Bottom : Bottom main piece -->
		<box
			type="'bottom'"
			products="$ctrl.config.bottom"
			classes="'mm-box-2 mm-box-main-bottom'"
        ></box>
		<!-- BOX Shoes -->
		<box
			type="'shoes'"
			products="$ctrl.config.shoes"
			classes="'mm-box-3 mm-box-shoes'"
        ></box>
		<!-- BOX Big piece : Coat for ex. -->
		<box
			type="'big'"
			products="$ctrl.config.big"
			classes="'mm-box-6 mm-box-big-piece'"
        ></box>
		<!-- Stripes -->
		<div class="mm-box-stripes mm-box">
            <span class="mm-stripe mm-stripe-1" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-2" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-3" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-4" style="background-color: {{$ctrl.config.maincolor}}" />
            <span class="mm-stripe mm-stripe-5" style="background-color: {{$ctrl.config.maincolor}}" />
        </div>
		<!-- BOX Accessories 1 : head (hat, glasses...)  -->
		<box
			type="'headAccessories'"
			products="$ctrl.config.headAccessories"
			classes="'mm-box-4 mm-box-accessories-1'"
        ></box>
		<!-- Details accesories -->
		<div ng-if="$ctrl.currentHeadAccessories" class="mm-box-a mm-box">
			<img alt="" ng-src="https:{{$ctrl.currentHeadAccessories.images.bigtiles.flat}}&sw=2000&sh=2000" />		
		</div>
		<!-- BOX Accessories 2 : other accessories (scarves, bag...) -->
		<box
			type="'accessories'"
			products="$ctrl.config.accessories"
			classes="'mm-box-5 mm-box-accessories-2'"
        ></box>
		<!-- Details material -->
		<div class="mm-box-b mm-box">
			<img alt="" ng-src="https:{{$ctrl.currentShoes.images.bigtiles.flat}}&sw=2000&sh=2000" />
		</div>
	</div>

</div>