<div class="modal-body text-center" stop-event="touchend">
  <a ng-click="$close()" class="btn btn-link pull-right close-btn">
    <i class="fa fa-times"></i>
  </a>

  <p>Les gagnants seront affichés prochainement :</p>
</div>
