@import "../utils";

$helpers: (
    //MARGIN
        mt:
        (
            xs: (),
            sm: (),
            md: (),
            lg: ()
        ),
    mb: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    mr: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    ml: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    m: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    pt: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    pr: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    pl: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    ),
    p: (
        xs: (),
        sm: (),
        md: (),
        lg: ()
    )
);

$refAttrs: (
    mr: (
        attr: "margin-right",
        unit: "rem"
    ),
    ml: (
        attr: "margin-left",
        unit: "rem"
    ),
    mt: (
        attr: "margin-top",
        unit: "rem"
    ),
    mb: (
        attr: "margin-bottom",
        unit: "rem"
    ),
    m: (
        attr: "margin",
        unit: "rem"
    ),
    pt: (
        attr: "padding-top",
        unit: "rem"
    ),
    pb: (
        attr: "padding-bottom",
        unit: "rem"
    ),
    pl: (
        attr: "padding-left",
        unit: "rem"
    ),
    pr: (
        attr: "padding-right",
        unit: "rem"
    ),
    p: (
        attr: "padding",
        unit: "rem"
    ),
    fw: (
        attr: "font-weight"
    ),
    lh: (
        attr: "line-height"
    ),
    fz: (
        attr: "font-size",
        unit: "rem"
    ),
    flex: (
        attr: "flex"
    )
);

@mixin genHelperClass($attr, $value, $media) {
    .#{$attr}-#{str-replace($value, ".", "-")}-#{$media} {
        $attrMap: map-get($refAttrs, $attr);
        #{map-get($attrMap, 'attr')}: $value#{map-get($attrMap, "unit")};
    }
}

@each $helper, $medias in $helpers {
    @each $media, $helperValues in $medias {
        @each $value in $helperValues {
            @if $media == "xs" {
                @include genHelperClass($helper, $value, $media);
            }
            @if $media == "sm" {
                @media screen and (min-width: $screen-sm) {
                    @include genHelperClass($helper, $value, $media);
                }
            }
            @if $media == "md" {
                @media screen and (min-width: $screen-md) {
                    @include genHelperClass($helper, $value, $media);
                }
            }
            @if $media == "lg" {
                @media screen and (min-width: $screen-lg) {
                    @include genHelperClass($helper, $value, $media);
                }
            }
        }
    }
}

.margin-0-auto {
    margin: 0 auto;
}
