// FLEX –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––---
.mm-personal-shopper {
    .flex-row-xs {
        display: flex;
        flex-direction: row;
    }
    .flex-col-xs {
        display: flex;
        flex-direction: column;
    }
    .align-center-xs {
        align-items: center;
    }
    .align-end-xs {
        align-items: flex-end;
    }
    .justify-center-xs {
        justify-content: center;
    }
    .flex-1-xs {
        flex: 1;
    }
    .flex-2-xs {
        flex: 2;
    }
    .flex-3-xs {
        flex: 3;
    }
    .flex-4-xs {
        flex: 4;
    }

    @media (min-width: $screen-sm) {
        .flex-row-sm {
            display: flex;
            flex-direction: row;
        }
        .flex-col-sm {
            display: flex;
            flex-direction: column;
        }
        .align-center-sm {
            align-items: center;
        }
        .align-end-sm {
            align-items: flex-end;
        }
        .justify-center-sm {
            justify-content: center;
        }
    }

    @media (min-width: $screen-md) {
        .flex-row-md {
            display: flex;
            flex-direction: row;
        }
        .flex-col-md {
            display: flex;
            flex-direction: column;
        }
        .align-center-md {
            align-items: center;
        }
        .align-end-md {
            align-items: flex-end;
        }
        .justify-center-md {
            justify-content: center;
        }
    }

    @media (min-width: $screen-lg) {
        .flex-row-lg {
            display: flex;
            flex-direction: row;
        }
        .flex-col-lg {
            display: flex;
            flex-direction: column;
        }
        .align-center-lg {
            align-items: center;
        }
        .align-end-lg {
            align-items: flex-end;
        }
        .justify-center-lg {
            justify-content: center;
        }
    }
}
