// FONT SIZES ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
.mm-personal-shopper {
	.f120 {
	    font-size: 7.2em;
	}

	.f60 {
	    font-size: 3.6em;
	}

	.f44 {
	    font-size: 2.71em;
	}

	.f15 {
	    font-size: 0.925em;
	}
}
