// MARGIN ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
.mm-personal-shopper {
    .no-margin {
        margin: 0;
    }
    .no-margin-top {
        margin-top: 0;
    }
    .no-margin-bottom {
        margin-bottom: 0;
    }

    // TOP
    .mt-2 {
        margin-top: 2rem;
    }
    .mt-3 {
        margin-top: 3rem;
    }

    // BOTTOM
    .mb-1 {
        margin-bottom: 1rem;
    }
    .mb-2 {
        margin-bottom: 2rem;
    }
    .mb-3 {
        margin-bottom: 3rem !important;
    }

    // LEFT
    .ml-1-5 {
        margin-left: 1.5rem;
    }

    // RIGHT
    .mr-0-5 {
        margin-right: 0.5rem;
    }
    .mr-1 {
        margin-right: 1rem;
    }
    .mr-1-5 {
        margin-right: 1.5rem;
    }
}
