// PADDING –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
.mm-personal-shopper {
	.no-padding {
	    padding: 0 !important;
	}
	.p-1 {
	    padding: 1rem;
	}
	.p-1-5 {
	    padding: 1.5rem;
	}
	// TOP
	.pt-1 {
	    padding-top: 1rem;
	}

	// BOTTOM
	.pb-1 {
	    padding-bottom: 1rem;
	}

	// LEFT
	.pl-2 {
	    padding-left: 2rem;
	}
	.pl-4 {
	    padding-left: 4rem;
	}

	// RIGHT
	.pr-2 {
	    padding-right: 2rem;
	}
	.pr-4 {
	    padding-right: 4rem;
	}
}
