// FLEX –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––---
.mm-personal-shopper {
	@media (min-width: $screen-sm) {
	}

	@media (min-width: $screen-md) {
	    .separator-right-md {
	        border-right: 1px solid white;
	    }
	}

	@media (min-width: $screen-lg) {
	}
}
