<!-- <div ui-view class="main-view"></div> -->
<home-page ng-if="$root.currentPage == 1"></home-page>
<qualif-page ng-if="$root.currentPage == 2"></qualif-page>
<loading-page ng-if="$root.currentPage == 3"></loading-page>
<result-page ng-if="$root.currentPage == 4"></result-page>