.add-to-cart {
	// position: absolute;
	// bottom: 10px;
	// right: 10px;
	position: relative;
	float: right;
	margin-top: -65px;
	margin-right: 10px;
	z-index: 200000;

	@media screen and (min-width: $screen-md) {
		margin-top: -85px;
		margin-right: 20px;
	}

	svg{
		width: 35px;
		height: 35px;  

		@media screen and (min-width: $screen-md) {
			width: 52px;
			height: 52px;		
		}
	}
}