<div class="form-inline">
	<div class="form-group">
		<select ng-model="date.day" ng-options="day for day in selects.days()" class="form-control" ng-disabled="disabledDate || disabledDay">
			<option value="" disabled>--</option>
		</select>
	</div>

	<div class="form-group">
		<select ng-model="date.month" ng-options="month for month in selects.months()" class="form-control" ng-disabled="disabledDate || disabledMonth">
			<option value="" disabled>--</option>
		</select>
	</div>

	<div class="form-group">
		<select ng-model="date.year" ng-options="year for year in selects.years() | orderBy: year:yearOrder" class="form-control" ng-disabled="disabledDate || disabledYear">
			<option value="" disabled>----</option>
		</select>
	</div>
</div>
